
.header {
  padding: 10px;
  text-align: left;
  background: #dffdf7;
  color: rgb(52, 214, 79);
  font-size: 20px;
}

.pending {
 position: absolute;
 right: 55%;
 top: 0%
}

.inProgress {
  position: absolute;
  right: 32%;
  top: 0%
 }

 .completed {
  position: absolute;
  right: 15%;
  top: 0%
 }

.profileInfo {
  position: absolute;
  left:10%
}

.logo{
  position: fixed
}

.sidemenu{
  position: fixed;
  top: 16%
}


.center{
  display: inline-block;
  /* position: fixed;
top: 50%;
left: 50%; */

}

.block{
  display: inline-block;
}

.background {
  background-image: url("background.png");
}